* {
    font-family: Avenir;
}

#age-number {
    text-align: center;
    color: gray;
    font-weight: 1000;
    font-size: 30px;
}

.post-text {
    font-size: 22px;
}

#greeting {
    text-align: center;
    margin-top: 320px;
    font-size: 50px;
}


/* #age-header {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    color: gray;
} */

#dayOfWeek {
    position: absolute;
    color: orange;
    font-size: 23px;
    margin-left: 20px;
    margin-top: -300px;
}

#temperature {
    font-size: 23px;
    color: orange;
    position: absolute;
    top: 5px;
    right: 23px;
}

#weather-icon {
    position: absolute;
    width: 100px;
    top: 50px;
    left: 1240px;
}